/* 共通 */
html{
  font-size: 10px;
}
body{
  font-family: "ヒラギノ丸ゴ ProN","Hiragino Maru Gothic ProN",sans-serif;
  margin: auto 0;
  background-color: white;
  color:rgb(117, 85, 3) ;
}
h1{
  color: rgb(117, 85, 3);
  margin: 5rem 0rem 0rem  2rem;
}
p{
  font-size: 1.5rem ;
  width: 90%;
  margin-left:2rem ;
}
img{
  vertical-align: bottom;
}
.animate {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity .3s, transform .3s;
}
.animate.appear {
  opacity: 1;
  transform: none;
}

th{
  background-color: antiquewhite;
  padding: 1rem 2.5rem;
}
:target{
    scroll-margin-top: 100px;
}
/* ヘッダー */
header {
  width: 100%;
  height: 5rem;
  display: flex;
  background-image: url("../Mysite_img/background2.jpeg");
  background-size: cover;
}

/*ヘッダー固定*/
#header.fixed{
	position: fixed;
  z-index: 1;
  top:0;
  left:0;
  animation: srow 0.5s ;
}
@keyframes  srow{
  0%{
  margin-top: -50px;
  }
  100%{
  margin-top: 0;
  }
}
header h1{
  color: rgb(117, 85, 3);
  font-size: 20px;
  margin: 1.5rem;
  padding: .5rem;
}
header a{
text-decoration: none;
}

/* メニュー */
#hamburger>li{
list-style: none;
}
nav ul{
  font-size: 1.5rem;
}
.menu{
  background-color: rgb(238, 224, 226);
  padding: 1rem 0rem;
  margin: 2rem;
}

.menu a{
 color: rgb(117, 85, 3);
}
.sp-menu{
  margin-left: auto;
}
.sp-menu#open{
  color: rgb(117, 85, 3);
  line-height: 3em;
  padding:2rem  .75rem;
  cursor: pointer;
}
.overlay{
  position: fixed;
  font-size: 20px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background:rgba(255,255,255,0.95) ;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition:opacity .6s;
}
.overlay a{
  text-decoration:none;
  color: rgb(117, 85, 3);
  opacity: 1;
}
.overlay.show{
  opacity: 1;
  pointer-events: auto;
}
.overlay #close{
  color: rgb(117, 85, 3);
  position: absolute;
  line-height: 2em;
  right:.75rem;
  font-size: 30px;
  cursor: pointer;
}
.overlay ul{
  margin: 0;
  padding: 0;
}
.overlay li{
  margin-top: 3rem;
  transform: translateY(.75rem);
  transition: opacity .3s,transform .3s;
}
.overlay.show li{
  opacity: 1;
  transform: none;
}
.overlay.show li:nth-child(1){
  transition: .1s;
}
.overlay.show li:nth-child(2){
  transition: .2s;
}
.overlay.show li:nth-child(3){
  transition: .3s;
}
.overlay.show li:nth-child(4){
  transition: .4s;
}
.overlay.show li:nth-child(5){
  transition: .5s;
}
.overlay.show li:nth-child(6){
  transition: .6s;
}

/* チェックボックス */
h2{
  border-bottom:2px solid palevioletred;
  width: 70%;
  margin-left: 3rem;
}
label,input{
  cursor: pointer;
}
.check{
  margin: 1.7rem;
  background-color: rgb(238, 224, 226);
  padding: 1rem;
}
/* チケット */
.button input{
  background-color: antiquewhite;
  border-radius: 5px;
  width: 80px;
  line-height: 20px;
  color: rgb(117, 85, 3);
  user-select: none;
  font-weight: bold;
  border: none;
 text-align: center;
 margin: 10px;
}
table{
 margin: 0 auto;
 font-size: 1.5rem;
}
.button{
  text-align: center;
}
div>#text{
  display: block;
  text-align: center;
  height: 15rem;
  border: double 5px rgb(117, 85, 3) ;
  border-radius: 10px;
  padding: 5rem;
  margin: 1rem 5rem ;
  font-size: 1.5rem;
}

/* ポーズ */
.pose{
  text-align: center;
}
#btn{
  width:200px;
  height: 200px;
  background: palevioletred;
  border-radius: 50%;
  text-align: center;
  line-height: 200px;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 0 10px 0 #d1483e;
  user-select: none;
  display: inline-block;
  margin-top: 50px;
}
#btn.jump{
  animation: 0.4s cubic-bezier(.2,1,.2,1) 0s 1 jump;
}
@keyframes jump{
  0%, 100% { transform: translateY(0px); }
  50% { transform: translateY(-40px); }
}

/* オタク辞書 */
.clickbtn{
  font-size:  1.7rem;
}

/* お問合せフォーム */
#confirm,th{
font-size: 1rem;
}
/* プロフィール */
section h1,.profile h1{
  font-size: 2rem;
  border-left: 1rem solid  palevioletred;
  width: 30rem;
  background-color: rgb(238, 224, 226);
  padding:1.3rem 1rem;
}
.unit{
  text-align: center;
}
.unit>img{
  width: 30%;
  padding: 5px;
}
.unit>p{
  border-top: dashed 2px rgb(117, 85, 3);
  border-bottom: dashed 2px rgb(117, 85, 3);
  background-color: antiquewhite;
  padding: .5rem;
}
/* フッターなど */
.top,footer{
  text-align: center;
  font-size: 1.5rem;
}
.top a{
  text-decoration: none;
  color: palevioletred;
}
footer{
  opacity: .7;
}

/* index2 */
.list{
  display: flex;
  font-size: 2rem;
  justify-content: space-between;
  width: 70%;
  background-color:rgb(238, 224, 226) ;
  margin-left:2rem ;
  padding: 1rem;
}

.list,a{
  list-style: none;
  color: rgb(117, 85, 3);
  text-align: center;
}
.table{
  margin: 10px;
}
.table th{
  white-space: nowrap;
}
.table td{
  background-color: rgb(243, 234, 225);
}

@media (min-width: 800px) {
  html{
    font-size: 15px;
  }
  .unit{
    display: flex;
    margin: 0 30px;
    align-items: center;
  }
  .unit>img{
    width: 30%;
  }
}

@media (min-width: 1024px) {

 main {
    margin-right: 30%;
  }
  .sp-menu{
    display: none;
  }
  .menu {
    height: 100%;
    position:fixed;
    right: 0;
    margin: 0;  
    padding-top: 10%;
  }
}

